---
language: bash

services:
- docker

before_script:
# Install the last version of docker
# (https://docs.travis-ci.com/user/docker/#Installing-a-newer-Docker-version)
- sudo apt-get update
- sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
- docker --version
# Update base images
- travis_retry docker pull olbat/debian
- travis_retry docker pull olbat/debian:stable
- travis_retry docker pull olbat/debian:testing
- travis_retry docker pull olbat/debian:unstable
# Login to the registry in order to be able to push new images
- travis_retry docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

script:
- travis_retry ./build.sh

env:
  global:
  - PUSH=1
  - secure: "ocrkQmpTfNhlaUoZZ1/1EgQ+A7TTHeIsMwg+5iTpYcqR0XjAR2gTQ6skcbjLUXifXf0f8lhKDKLnlrJcpUbNtxrz1PRWBKDl7q/pg1zrc7hGT1M1ommseJj5H8gkY4xH2zjNzkuSYDXSRP+Xwgkmum6HFMozOqbIJ9JpDbkvMddKhYPH17w2s5Iu5yucdehQ6h6Qa0at2vQOWAi9e9kJiuBEh2Hb6hRoz5i0QErCklfRPq2q2Q88Tjrz+zz+G/UuVkp0yK0kyzCExerlDCrjOC8IaUiWO/AwDlh4yzSQ+jpyoNL+WWaksXCESfCXQuvQ9CTjSUzn4Tlqmw5JfgICljwLiwtAoH5snEA3nNc6b8FLLUsm3yJnPeXgh8rX7tiXppWmDG4iTxsRm/AtSsKx3QJNBaAYlfatk9mnJCZHibeH/Ftqrk5Ai+msjhBHq15ppL2+ZCOHaolkmQaZy6p3utoa9oeauoN8yCAHdDsRp3T4B75OFjctjPbISKvjHIsaIe7tshfomguoZKg8AVL0oE5504YQNWiWexuly4HzbS4c9WHBrBi+7eMkRMkXXJSZKGZ32+D6O9GOhrGwens8vMohfJi5EsY0GOfauBSUUUcMRseJ/PLaDVSSPfbpoaaCWqX2zcEVRRfcKwNKROE5IvA5f5igvuAYx9j0BxY5feU="
  - secure: "KIvdevr24i2SS+bEVZDfmzEL/knT9QojfX4kq/MUZoGtahtke7rfCsGFHVTBadupEgjdQCCWKwhITKqHrWtzEIrlyi4q84354V/4zAqufz3bwvwdqIOr6KWDIex6zXWPQEgj6wXfHdjwxTIn8iFgpM2RB6Rm9MHeBeW1lvHoXO/YlIGK86+sceudR2N75p46BSZ6MI/P195OEZioX1a3de/DnHVjRDo2l6mowNbiURM7eaFtDwTNr2KC0qV0OmzBB24T9ItIst3lT+sxsD9z7ZE8u6L3uVSn3QI5XLGv0FUZsV3JBCZlWzh+5/JtpQ21ZxNVLJSh/RyyEBy9JA4xPPQ07Ht5MfFpzE5boO6UiNnZf1ZBkzWC//XP1XYxQM/dh6NhnTaixiDZqilWZu4EOF7B+A1ymavp1jct/X42//qhzrYC+6NfFM3Wg4PlZAzYWcjYAlqVFF32D+NkmGSVVp8EDlhWASXMNaPJSQlaJcoGd0oORpMXYUcwk1agps+eI4cRY7446WCexBC74kwOs9gYbWuDleKvTj6eJpN/OXZZpZzh5NkBPCzFoXRKIhoPtZ1fN4CD5d0R8BW5qDCfhty1tbvfAvGCvUVQRYKcIzohTWWFK6Xf05s52ArnhY5/HQOaX8t5URuVIhppHoehVt0+QhSDYJRluzLNIq7jOB0="
  - secure: "xXthXfGDyT0i/ZC0DaB1pO52Z1AxbbYjJTykJp3YCq5YG7ULwxm22I9RPgZB6Vrp2jRKjgY+fkwno1/f7aE9janIfMzyJtQz9T1KY3mlWoX1VnDj8m54PWaHTgYMFxw74Ji1OxZHEbSqoZZrOohtYIF3yZVPxbA26yzM4/gn37osrrBTNHzWLiNzAFKkJvME3km3yEdA3SqQ9MBKE+7ncf/oEQyxEFUqiptxopuOYaj4hUrd6n/+zf/Q2Pkmzf9CCllCmqG7EUWudsNIS5+cnMqNLEB9LNlK2hKIBSjiP710BWYm4Mw4MMGhDvER1zBEYaNJOSkVHNyQ4cagHDT+cmWdm6hX0fyoDnhPIPs/G/MsP3bNg0+gFAShaU2sRmuinBJ8F7DGCIBIPtXqNvP6hBDhuEC2VixEdhTs/uXawk7em/SD9QCRQj53fYJm/GMy9b+pS8BrHU2SJmTDdhmf5lCNTiue61324b5ZhjUsBd3Hs8AGJGI8PTYUUizy1e29p8rAxq8BSUmV8O9XQo+KfBXMeNm5IRDG39kZ7ystGaO7BfbNSqPuy0iDsKbZwne5Bm0RfcDjphVhHWf13uT14BrfnmU1ljd6IweUQmZekeMrZ8enP/glXB8faaNaSYUO/6Pn7xl7MhOsfsX8+V7sFbmTHqc9PANfRuFJmN1qAzc="
  matrix:
  - IMAGE=gpg
  - IMAGE=gnupg
  - IMAGE=cupsd
  - IMAGE=debian-pkg
  - IMAGE=libreoffice
  - IMAGE=java-devel
  - IMAGE=java-ides
  - IMAGE=nodejs
  - IMAGE=jsonresume
  - IMAGE=bazel
  - IMAGE=kcachegrind
